.header {
  position: relative;
  padding-top: 29px;
  background-image: url("../img/bg-haeder.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  height: 594px;
}
.header img {
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 14px;
  height: 42px;
}
.top .logo {
  padding-left: 27px;
}
.top .seach .seach-left {
  position: absolute;
  line-height: 42px;
  color: #444444;
  padding: 0px 17px;
  border-right: 1px solid #888282;
}
.top .seach .seach-left select {
  border: none;
  outline: none;
  color: #444444;
}
.top .seach .seach-left .fas {
  padding-left: 5px;
}
.top .seach .seach-btn {
  width: 595px;
  height: 42px;
  padding-left: 170px;
  color: #666666;
  line-height: 42px;
  border-radius: 5px;
  outline: none;
  border: 1px #9B9B9B solid;
}
.top .seach .seach-right {
  position: absolute;
  line-height: 42px;
  right: 235px;
  height: 42px;
  width: 125px;
  background-color: #137C37;
  padding-left: 12px;
  color: #ffffff;
  border-radius: 5px;
}
.top .seach .seach-right :nth-child(2) {
  padding-left: 13px;
}
.top .seach .seach-right a {
  color: #ffffff;
  text-decoration: none;
}
.top .phone-contact {
  line-height: 20px;
  padding-right: 20px;
}
.top .phone-contact :nth-child(1) {
  font-size: 12px;
  color: #137C37;
}
.top .phone-contact :nth-child(2) {
  font-weight: bold;
}

.nav {
  margin-top: 39px;
  align-items: center;
  background-color: #137C37;
  border: 8px #D6D6D6 solid;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in;
}
.nav a {
  color: #fff;
  padding: 0rem 2rem;
}
.nav a:hover {
  color: #fff;
}
.nav .active::after {
  position: absolute;
  content: "";
  width: 93px;
  height: 3px;
  background-color: #ED1C24;
  top: 48px;
  left: 37px;
  border-radius: 3px;
  max-width: 90px;
}
.nav ul :nth-child(1) a {
  padding-left: 0px;
}

.nav-list {
  display: inline-block;
  text-align: center;
  line-height: 1em;
  vertical-align: middle;
  padding: 17px 0;
}

.nav-link {
  color: #ED1C24;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:after {
  border-bottom: 3px solid #ED1C24;
  content: "";
  display: block;
  transition: width 250ms ease-in-out 0s;
  width: 0;
}

.nav-link:hover:after {
  border-radius: 3px;
  transition: width 400ms ease-in-out 0s;
  width: 100%;
}

.sticky {
  top: 0px;
  margin-top: -39px;
  position: fixed;
  z-index: 100;
  left: 0px;
  right: 0px;
  transition: all 0.5s ease;
}
.sticky a {
  margin-left: 23px;
}
.sticky .active::after {
  position: absolute;
  content: "";
  width: 93px;
  height: 3px;
  background-color: #ED1C24;
  left: 52px;
  border-radius: 3px;
  max-width: 94px;
}

.slider {
  padding-top: 25px;
}

.title {
  padding-top: 52px;
  padding-bottom: 31px;
}
.title h3 {
  font-weight: 900;
  color: #3F3F3F;
  font-size: 30px;
}

.content {
  padding-bottom: 52px;
  text-align: center;
  margin-bottom: 49px;
}
.content .content-item {
  position: relative;
}
.content .content-item img {
  width: 100%;
  padding-bottom: 40px;
}
.content .content-item .content-desc {
  position: relative;
  padding-left: 10px;
  text-align: start;
  position: absolute;
  top: 126px;
  width: 100%;
  line-height: 58px;
  height: 58px;
  background-color: #2B282880;
  cursor: pointer;
  color: white;
}
.content .content-item .content-desc:hover a {
  color: #fff;
}
.content .content-item .content-desc::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.content .content-item .content-desc:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.content .content-item .content-desc::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #137c37;
  opacity: 0.5;
  color: #000;
  z-index: 0;
  transition: transform 0.5s ease;
}
.content .content-item .content-desc .fab {
  top: 8px;
  right: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px 10px;
}
.content .content-item .content-desc a {
  color: #fff;
}
.content .content-more {
  cursor: pointer;
  border-radius: 3px;
  width: 179px;
  height: 44px;
  background-color: #329736;
  padding: 10px 0px;
  padding-left: 20px;
  display: inline;
}
.content .content-more a {
  color: #FFF;
  text-decoration: none;
}
.content .content-more a .fas {
  margin-top: -11px;
  margin-left: 20px;
  padding: 12px 20px;
  background-color: #137C37;
}

.about {
  height: 500px;
  background-image: url("../img/bg1-1.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  position: relative;
}
.about::before {
  content: "";
  top: 24px;
  left: 466px;
  background-color: #15851A;
  width: 134px;
  height: 134px;
  position: absolute;
}
.about .about-img {
  position: relative;
}
.about .about-img img {
  padding-top: 40px;
  width: 465px;
  height: 447px;
}
.about .about-img::after {
  content: "";
  bottom: -15px;
  left: -15px;
  background-color: #137C37;
  width: 134px;
  height: 134px;
  position: absolute;
  opacity: 50%;
}
.about .about-title {
  font-size: 16px;
}
.about .about-title p {
  margin-bottom: 0px;
  font-size: 16px;
}
.about .about-title :nth-child(1) {
  line-height: 24px;
}
.about .about-title :nth-child(1) p {
  font-weight: 500;
}
.about .about-title :nth-child(1) h5 {
  color: #ED1C24;
  font-size: 20px;
  font-weight: bold;
}
.about .about-title :nth-child(3) .fas {
  color: #137C37;
  margin-right: 10px;
}
.about .about-title div {
  margin-top: 20px;
}
.about .about-title .about-more {
  padding-left: 20px;
  cursor: pointer;
  border-radius: 3px;
  width: 179px;
  height: 44px;
  background-color: #329736;
  padding-top: 10px;
}
.about .about-title .about-more a {
  color: #FFF;
  text-decoration: none;
}
.about .about-title .about-more .fas {
  margin-top: -11px;
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #137C37;
}

.service {
  text-align: center;
}
.service .service-item img {
  width: 100%;
}
.service .service-item .service-desc {
  text-align: center;
}
.service .service-item h4 {
  padding-top: 41px;
  padding-bottom: 24px;
  font-size: 22px;
  color: #3F3F3F;
  font-weight: 800;
}

.project {
  background-image: url("../img/bg-project.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  text-align: center;
  height: auto;
  padding-bottom: 32px;
}
.project .project-item img {
  width: 100%;
}
.project .project-item p {
  padding-top: 5px;
  padding-bottom: 12px;
  font-size: 16px;
  color: #3F3F3F;
}
.project .project-more {
  text-align: center;
  padding: 11px 35px;
  cursor: pointer;
  border-radius: 3px;
  width: 145px;
  height: 40px;
  background-color: #329736;
  display: inline;
}
.project .project-more a {
  margin-bottom: 20px;
  color: #FFF;
  text-decoration: none;
}

.news {
  text-align: center;
}
.news .news-item {
  background-color: #F8F8F8;
}
.news img {
  float: left;
  padding: 22px;
}
.news span {
  display: block;
  padding-top: 36px;
  font-size: 14px;
  font-weight: bold;
  text-align: start;
}
.news p {
  padding-top: 20px;
  font-size: 12px;
  color: #999999;
  text-align: start;
}
.news .news-more {
  padding-bottom: 41px;
}
.news .news-more a {
  color: #15851A;
  text-decoration: none;
  font-weight: bold;
}
.news .news-more .fas {
  padding-top: 19px;
  padding-right: 10px;
}

.contact {
  text-align: center;
  position: relative;
  background-image: url("../img/bg-contact.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #ffffff;
  line-height: 22px;
  padding: 50px 0;
}
.contact::before {
  content: "";
  background-color: #007b04;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  opacity: 0.8;
}
.contact .contact-top {
  line-height: 10px;
  position: relative;
}
.contact .contact-top h3 {
  font-size: 22px;
  padding-bottom: 8px;
}
.contact .contact-top p {
  font-size: 14px;
}
.contact .contact-bottom {
  padding-top: 46px;
  position: relative;
}
.contact .contact-bottom .submit {
  color: #ED1C24;
  font-weight: bold;
  margin-left: 44px;
  padding-left: 0px;
}
.contact .contact-bottom .name {
  margin-right: 44px;
}
.contact .contact-bottom input {
  border-radius: 3px;
  border: none;
  outline-style: none;
  background-color: #fff;
  padding-left: 20px;
  color: #000000;
  height: 45px;
  width: 241px;
}

.feedback {
  position: relative;
  padding: 50px 0px;
  background-image: url("../img/bg-feedback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-position-x: 50%;
}
.feedback h3 {
  font-size: 22px;
  color: #000;
  font-weight: bold;
  padding-left: 100px;
}
.feedback .feedback-slick {
  padding-bottom: 59px;
  margin-left: 20px;
  width: 580px;
}
.feedback .feedback-slick .chevron-prev {
  position: absolute;
  top: 330px;
  left: 280px;
  border: none;
  color: #ffffff;
  background-color: #65656580;
  border-radius: 50%;
  padding: 10px 18px;
}
.feedback .feedback-slick .chevron-next {
  position: absolute;
  top: 330px;
  left: 222px;
  border: none;
  color: #ffffff;
  background-color: #65656580;
  border-radius: 50%;
  padding: 10px 18px;
}
.feedback .feedback-desc {
  background-color: #fff;
  padding: 30px 52px 60px 52px;
  margin-top: 27px;
}
.feedback .feedback-desc span {
  padding-left: 40px;
}
.feedback .feedback-desc img {
  padding-left: 59px;
  float: left;
  padding-bottom: 22px;
}
.feedback .feedback-desc h5 {
  padding-top: 15px;
  font-size: 24px;
  color: #000;
  padding-left: 180px;
  margin-bottom: 0px;
}
.feedback .feedback-desc p {
  clear: left;
}

.partner {
  text-align: center;
  padding-bottom: 66px;
}
.partner h3 {
  color: #000;
  font-size: 22px;
}
.partner .partner-logo {
  padding: 20px;
  align-items: center;
  width: 172px;
  height: 122px;
  border: 1px solid #949494;
}
.partner .partner-logo img {
  width: 100%;
}
.partner .chevron-prev {
  position: absolute;
  top: 32px;
  right: -67px;
  border: none;
  color: #ffffff;
  background-color: #65656580;
  border-radius: 50%;
  padding: 10px 18px;
}
.partner .chevron-next {
  position: absolute;
  top: 32px;
  left: -67px;
  border: none;
  color: #ffffff;
  background-color: #65656580;
  border-radius: 50%;
  padding: 10px 18px;
}

.footer {
  padding-bottom: 50px;
  background-color: #F6F6F6;
}
.footer .footer-logo {
  padding: 25px 0px;
}
.footer .footer-title {
  font-size: 16px;
}
.footer .footer-title p {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  padding-top: 50px;
  padding-left: 20px;
}
.footer .footer-title li {
  list-style-type: square;
  color: #ED1C24;
}
.footer .footer-title li a {
  color: #000;
}
.footer .footer-title li a:hover {
  text-decoration: none;
  color: #ED1C24;
}
.footer .footer-icon {
  margin-top: 20px;
}
.footer .footer-icon a {
  margin-right: 15px;
  border: 1px solid #329736;
  border-radius: 50%;
  padding: 8px 10px 10px 10px;
}
.footer .footer-icon a img {
  align-items: center;
  width: 19px;
  height: 19px;
}
.footer .footer-icon a:hover {
  margin-right: 17px;
  border: 1px solid #1a591c;
  border-radius: 50%;
  padding: 10px 12px 12px 12px;
}
.footer .footer-icon a:hover img {
  transition: all 0.05 ease;
  transform: rotate(20deg);
}

.copyright {
  background-color: #DCDCDC;
  font-size: 16px;
  height: 70px;
  line-height: 70px;
  color: #656565;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
