.about{
    height: 500px;
    background-image: url('../img/bg1-1.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    position: relative;
    &::before{
        content: '';
        top: 24px;
        left: 466px;
        background-color: #15851A;
        width: 134px;
        height: 134px;
        position: absolute;
    }
    .about-img{
        position: relative;
        img{
            padding-top: 40px;
            width: 465px;
            height: 447px;
        }
        &::after{
            content: '';
            bottom: -15px;
            left: -15px;
            background-color: #137C37;
            width: 134px;
            height: 134px;
            position: absolute;
            opacity: 50%;
        }
    }
    .about-title{
        font-size: 16px;
        p{
            margin-bottom: 0px;
            font-size: 16px;
        }
        & :nth-child(1) {
            line-height: 24px;
            p{
                font-weight: 500;
            }
            h5 {
                color: #ED1C24;
                font-size: 20px;
                font-weight: bold;
            }
        }
        & :nth-child(3){
            .fas {
                color: #137C37;
                margin-right: 10px;
            }
        }
        div{
            margin-top: 20px;
        }
        .about-more{
            padding-left: 20px;
            cursor: pointer;
            border-radius: 3px;
            width: 179px;
            height: 44px;
            background-color: #329736;
            padding-top: 10px;

            a{
                color: #FFF;
                text-decoration: none;
            }
            .fas{
                margin-top: -11px;
                margin-left: 20px;
                padding: 10px 20px;
                background-color: #137C37;
            }
        }
        
    }
}