.about{
    height: 500px;
    background-image: url('../img/bg1-1.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    position: relative;
    &::before{
        content: '';
        top: 24px;
        left: 466px;
        background-color: #15851A;
        width: 134px;
        height: 134px;
        position: absolute;
    }
    .about-img{
        position: relative;
        img{
            padding-top: 40px;
            width: 465px;
            height: 447px;
        }
        &::after{
            content: '';
            bottom: -15px;
            left: -15px;
            background-color: rgba(50, 151, 54, 1);
            width: 134px;
            height: 134px;
            position: absolute;
            opacity: 50%;
        }
    }
}