.header{
    position: relative;
    padding-top: 29px;
    background-image: url('../img/bg-haeder.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    img{
        width: 100%;
    }
    .hamburger{
        .bar{
            .fas{
                display: none;
            }
        }
    }
}
.top{
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 14px;
    height: 42px;
    .logo{
        padding-left: 27px;
    }
    .seach{
        .seach-left{
            position: absolute;
            line-height: 42px;
            color: #444444;
            padding: 0px 17px;
            border-right: 1px solid #888282;
            select{
                border: none;
                outline: none;
                color: #444444;
            }
            .fas{
                padding-left: 5px;
            }
        }
        .seach-btn{
            width: 595px;
            height: 42px;
            padding-left: 170px;
            color: #666666;
            line-height: 42px;
            border-radius: 5px;
            outline: none;
            border: 1px #9B9B9B solid;
        }
        .seach-right{
            position: absolute;
            line-height: 42px;
            right: 235px;
            height: 42px;
            width: 125px;
            background-color: #137C37;
            padding-left: 12px;
            color: #ffffff;
            border-radius: 5px;
            & :nth-child(2){
                padding-left: 13px;
            }
            a{
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
    .phone-contact{
        line-height: 20px;
        padding-right: 20px;
        & :nth-child(1){
            font-size: 12px;
            color: #137C37;
        }
        & :nth-child(2){
            font-weight: bold;
        }
    }
    
}
.nav{
    margin-top: 39px;
    align-items: center;
    background-color: #137C37;
    border: 8px #D6D6D6 solid;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s ease-in;
    a{
        color: #fff;
        padding: 0rem 2rem;
         &:hover{
             color: #fff;
         }
    }
    .active::after{
        position: absolute;
        content: "";
        width: 93px;
        height: 3px;
        background-color: #ED1C24;
        top: 48px;
        left: 37px;
        border-radius: 3px;
        max-width: 90px;
    }
    ul{
        & :nth-child(1) a{
            padding-left: 0px;
        }
    }
    
}
  
.nav-list {
    display: inline-block;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
    padding: 17px 0;
}
  
.nav-link {
    color: #ED1C24;
    text-decoration: none;
    text-transform: uppercase;
  }
.nav-link:after {
    border-bottom: 3px solid #ED1C24;
    content: "";
    display: block;
    transition: width 250ms ease-in-out 0s;
    width: 0;
}
.nav-link:hover:after {
    border-radius: 3px;
    transition: width 400ms ease-in-out 0s;
    width: 100%;
}
.sticky{
    top: 0px;
    margin-top: -39px;
    position: fixed;
    z-index: 100;
    left:0px;
    right: 0px;
    transition: all 0.5s ease;
    a{
        margin-left: 23px;
    }
    .active::after{
        position: absolute;
        content: "";
        width: 93px;
        height: 3px;
        background-color: #ED1C24;
        left: 52px;
        border-radius: 3px;
        max-width: 94px;
    }
    
}
.slider{
    padding-top: 25px;
}
@include maxWidth(1024px){
    .header{
        position: relative;
        .top{
            .logo{
                padding-left: 0px;
            }
        }
        .seach{
            margin-right: 110px;
            .seach-btn{
                width: 400px;
                
            }
            .seach-right{
                right: 110px;
                width: 43px;
                span {
                    display: none;
                }
            }
        }
        .phone-contact{
            display: none;
        }
        .nav{
            margin-top: 0px;
            padding-right: 200px;
            position: fixed;
            left: -100%;
            top: 5rem;
            background-color: rgb(26, 90, 42);
            width: 50%;
            border-radius: 10px;
            opacity: 1;
            z-index: 10;
            text-align: center;
            transition: 0.3s;
            box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
        }
        .nav.active {
            left: 0;
        }
        .nav-list {
            text-align: start;
            margin: .5rem 0;
        }
        .hamburger {
            right: 20px;
            position: absolute;
            z-index: 100;
            display: block;
            cursor: pointer;
            color: #000;
            top: 30px;
            .bar{
                .fas {
                    color: #137C37;
                    font-size: 40px;
                    display: block;
                }
            }
        }
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}
@include maxWidth(576px){
    .header{
        padding-bottom: 40px;
        .seach{
            display: none;
        }
        .nav{
            padding-right: 180px;
            width: 100%;
            .active::after{
                left: 33px;
            }
        }
    }
}
