.title{
    padding-top: 52px;
    padding-bottom: 31px;
    h3{
        font-weight: 900;
        color: #3F3F3F;
        font-size: 30px;
    }
}
.product{
    padding-bottom: 52px;
    text-align: center;
    margin-bottom: 49px;
    .product-item{
        position: relative;
        img{
            width: 100%;
            padding-bottom: 40px;
        }
        .product-desc{
            position: relative;
            padding-left: 10px;
            text-align: start;
            position: absolute;
            top: 141px;
            width: 100%;
            line-height: 58px;
            height: 58px;
            background-color:#2B282880;
            cursor: pointer;
            color: rgb(255, 255, 255);
            &:hover{
                a{
                    color: #fff;
                }
            }
            &::before {  
                transform: scaleX(0);
                transform-origin: bottom right;
            }
            
            &:hover::before {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
                  
            &::before {
                content: " ";
                display: block;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                inset: 0 0 0 0;
                background: #137c37;
                opacity: 0.5;
                color: #000;
                z-index: 0;
                transition: transform .5s ease;
            }
            .fab{
                top: 8px;
                right: 10px;
                position: absolute;
                width: 40px;
                height: 40px;
                border: 1px solid #fff;
                border-radius: 50%;
                font-size: 20px;
                padding: 10px 10px;
            }
            a{
                color: #fff;
            }
        }
    }
    .product-more{
        cursor: pointer;
        border-radius: 3px;
        width: 179px;
        height: 44px;
        background-color: #329736;
        padding: 10px 0px;
        padding-left: 20px;
        display: inline;
        a{
            color: #FFF;
            text-decoration: none;
            .fas{
                margin-top: -11px;
                margin-left: 20px;
                padding: 12px 20px;
                background-color: #137C37;
            }
        }
    }
    @include maxWidth(1024px){
        .product-item{
            .product-desc{
                top: 104px;
            }
        }
    }
    @include maxWidth(576px){
        .title{
            h3{
                font-size: 24px;
            }
        }
        .product-item {
            .product-desc{
                top: 58%;
                text-align: center;
                height: 30px;
                line-height: 30px;
                .fab{
                    display: none;
                }
            }
        }
    }
 
}
