.service{
    text-align: center;
    .service-item {
        img{
            width: 100%;
        }
        .service-desc{
            text-align: center;
        }
        h4{
            padding-top: 41px;
            padding-bottom: 24px;
            font-size: 22px;
            color: #3F3F3F;
            font-weight: 800;
        }
    }
}
.project{
    background-image: url('../img/bg-project.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    text-align: center;
    height: auto;
    padding-bottom: 32px;
    .project-item{
        img{
            width: 100%;
        }
        p{
            padding-top: 5px;
            padding-bottom: 12px;
            font-size: 16px;
            color: #3F3F3F;
        }
    }
    .project-more{
        text-align: center;
        padding: 11px 35px;
        cursor: pointer;
        border-radius: 3px;
        width: 145px;
        height: 40px;
        background-color: #329736;
        display: inline;
        a{
            margin-bottom: 20px;
            color: #FFF;
            text-decoration: none;
        }
    }
}
.news{
    text-align: center;
    .news-item{
        background-color: #F8F8F8;
    }
    img{
        float: left;
        padding: 22px;
    }
    span{
        display: block;
        padding-top: 36px;
        font-size: 14px;
        font-weight: bold;
        text-align: start;
    }
    p{
        padding-top: 20px;
        font-size:12px;
        color: #999999;
        text-align: start;

    }
    .news-more{
        padding-bottom: 41px;
        a{
            color: #15851A;
            text-decoration: none;
            font-weight: bold;
        }
        .fas{
            padding-top: 19px;
            padding-right: 10px;
        }
    }
    @include maxWidth(576px){
        span{
            padding-top: 19px;
        }
        p{
            padding-top: 30px;
            padding-left: 20px;
        }
    }
}
.contact{
    text-align: center;
    position: relative;
    background-image: url('../img/bg-contact.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #ffffff;
    line-height:22px;
    padding: 50px 0;
    &::before{
        content: "";
        background-color: #007b04;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        opacity: .8;
    }
        .contact-top{
            line-height: 10px;
            position: relative;
            h3{
                font-size: 22px;
                padding-bottom: 8px;
            }
            p{
                font-size: 14px;
            }
        }
        .contact-bottom{
            padding-top: 46px;
            position: relative;
            .submit{
                color: #ED1C24;
                font-weight: bold;
                margin-left: 44px;
                padding-left: 0px;
            }
            .name{
                margin-right: 44px;
            }
            input{
                border-radius: 3px;
                border: none;
                outline-style: none;
                background-color: #fff;
                padding-left: 20px;
                color: #000000;
                height: 45px;
                width: 241px;
            }
        }
        @include maxWidth(1024px){
            .submit{
                color: #ED1C24;
                margin-right: 40px;
                font-weight: bold;
                margin-top: 30px;
            }  
        }
        @include maxWidth(576px){
            .contact-bottom{
                .name{
                    margin-right: 0px;
                    margin-bottom: 20px;
                }
                .submit{
                    margin-left: 40px;
                }
            }
        }

}
.feedback{
    position: relative;
    padding: 50px 0px;
    background-image: url('../img/bg-feedback.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-position-x: 50%;
    h3{
        
        font-size: 22px;
        color: #000;
        font-weight: bold;
        padding-left: 100px;
    }
    .feedback-slick{
        padding-bottom: 59px;
        margin-left: 20px;
        width: 580px;
        // box-shadow: 1px -59px 5px 1px rgba(0, 0, 255, .2);
        .chevron-prev{
            position: absolute;
            top: 330px;
            left: 280px;
            border: none;
            color: #ffffff;
            background-color: #65656580;
            border-radius: 50%;
            padding: 10px 18px;
        }
        .chevron-next{
            position: absolute;
            top: 330px;
            left: 222px;
            border: none;
            color: #ffffff;
            background-color: #65656580;
            border-radius: 50%;
            padding: 10px 18px;
        }
    }
    .feedback-desc{
        background-color: #fff;
        padding: 30px 52px 60px 52px;
        margin-top: 27px;
        
        span{
            padding-left: 40px;
        }
        img{
            padding-left: 59px;
            float: left;
            padding-bottom: 22px;
        }
        h5{
            padding-top: 15px;
            font-size: 24px;
            color: #000;
            padding-left: 180px;
            margin-bottom: 0px;
        }
        p{
            clear: left;
        }
    }
    @include maxWidth (1024px){
        h3{
            padding-left: 124px;
        }
        background-color: rgb(225, 225, 225);
        background-image: none;
        .feedback-title{
            padding-left: 66px;
        }
       .feedback-slick{
            .chevron-prev{
                top: 330px;
                left: 300px;
            }
            .chevron-next{
                top: 330px;
                left: 240px;
            }
       }
    }
    @include maxWidth(576px){
        // .feedback-title{
        //     padding-left: 0px;
        //     h3{
        //         padding-left: 10px;
        //     }
        // }
        // .feedback-slick{
        //     width: 389px;
        //     margin-right: 210px;
        // }
        display: none;
    }
}
.partner{
    text-align: center;
    padding-bottom: 66px;
    h3{
        color: #000;
        font-size: 22px;
    }
    .partner-logo{
        padding: 20px;
        align-items: center;
        width: 172px;
        height: 122px;
        border: 1px solid #949494;
        img{
            width: 100%;
        }
    }
    .chevron-prev{
            position: absolute;
            top: 32px;
            right: -50px;
            border: none;
            color: #ffffff;
            background-color: #65656580;
            border-radius: 50%;
            padding: 10px 18px;
        }
        .chevron-next{
            position: absolute;
            top: 32px;
            left: -50px;
            border: none;
            color: #ffffff;
            background-color: #65656580;
            border-radius: 50%;
            padding: 10px 18px;
        }
    @include maxWidth(1024px){
        .partner-logo {
            margin-left: 25px;
            padding: 20px;
            align-items: center;
            width: 172px;
            height: 122px;
            border: 1px solid #949494;
        }
        .chevron-prev{
            top: 132px;
            right: 325px;
        }
        .chevron-next{
            top: 132px;
            left: 340px;
        }
    }
    @include maxWidth(576px){
        .partner-logo{
            margin-left: -9px;
            margin-right: 10px;
        }
        .chevron-prev{
            top: 132px;
            right: 100px;
        }
        .chevron-next{
            top: 132px;
            left: 100px;
        }
    }

}